
notebooks/.ipynb_checkpoints/dataframes-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Conditionals-checkpoint.ipynb
notebooks/.ipynb_checkpoints/reading_data-checkpoint.ipynb
notebooks/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
